@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Sigmar&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 20px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ Colores Referencia ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~ */
colores {
  color: #f3efe0;
  color: #434242;
  color: #222222;
  color: #22A39F;
}

/* ~~ Fin Colores Referencia~~ */
/* ~~~~~~~~~ */
/* ~~ h1 ~~ */
/* ~~~~~~~~~ */
.rectangulo_principal {
  height: 100px;
  width: 100px;
  color: white;
  background-color: rgb(77, 77, 77);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ~~ Fin h1 ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ Imagenes principales ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.imagenes_principales {
  position: relative;
  width: auto;
  display: inline-block;
  overflow: hidden;
}

.imagenes_principales img {
  width: 100%;
  height: auto;
  display: inline-block;
}

.texto_imagen_principal {
  position: absolute;
  bottom: -30%;
  height: 10%;
  width: 500px;
  right: 0px;
  background-color: #f3efe0;
  color: #222222;
  transform: translate(-50%, -50%);
}

.texto_imagen_derecha_abajo {
  color: #f3efe0;
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 20px;
}

/* ~~ Fin Imagenes ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ botones centrados ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~ */
.d-grid a {
  background-color: #434242;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.wsp {
  background-color: #22A39F;
  transform: 2.5;
}

/* ~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ icono whatsapp ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~ */
.wsp {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1;
  cursor: pointer;
}

/* ~~ Fin icono whatsapp ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ navbar ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~ */
.navbar {
  font-size: large;
  background-color: #f3efe0;
}
.navbar .d-inline-block {
  width: 20%;
  height: auto;
  padding-top: 0px;
}
.navbar a {
  text-decoration: none;
  color: #22A39F;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
}

/* ~~ Fin Top Navigation Bar ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ grid familia ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~ */
.grid__familia {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-row: auto;
  background-color: #22A39F;
  padding: 10px;
}

.picture_familia {
  width: 80%;
  margin: auto;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border: 0px;
}
.picture_familia p {
  font-size: 20px;
}
.picture_familia img {
  /*object-fit: contain;*/
}

.img-fluid {
  height: 200px;
  max-width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ map google Contacto ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~ */
.col-sm-4 iframe {
  width: 100%;
  height: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ Carrusel de nuestros clientes opinan ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.carousel-inner, .carousel-item, .carousel-item img {
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-item img {
  filter: brightness(50%);
}

.carousel-caption {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ seccion nosotros ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~ */
.section_1_nosotros {
  background-color: #F7F1E5;
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section_1_nosotros img {
  height: 700px;
  padding: 10px;
}
.section_1_nosotros_contenido {
  padding: 20px;
}

.section_2_nosotros {
  background-color: #F7F1E5;
  display: inline-block;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section_2_nosotros img {
  height: 700px;
  padding: 10px;
  width: 50%;
}
.section_2_nosotros_contenido {
  padding: 20px;
}

/* ~~ Fin seccion nosotros ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ imagenes pagina servicios ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.cards_servicios {
  background-color: rgba(238, 238, 238, 0.9333333333);
  padding: 50px 14px;
  text-align: center;
}

.card_body_servicios {
  display: inline-block;
  width: 30%;
  text-align: left;
  background-color: #F0ECE3;
  border: 1px solid #191919;
  margin: 10px;
  position: relative;
}
.card_body_servicios img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10% 30% 50% 70%;
}
.card_body_servicios h2, .card_body_servicios p {
  padding: 14px;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 10px;
}

/* ~~~~~~~~~~~~ */
/* ~~ Cards ~~ */
/* ~~~~~~~~~~~~ */
.cards {
  background-color: rgba(238, 238, 238, 0.9333333333);
  padding: 50px 15px;
  text-align: center;
}

.card_body {
  display: table-cell;
  width: 30%;
  text-align: left;
  background-color: #F0ECE3;
  border: 1px solid #191919;
  margin: 10px;
  position: relative;
}
.card_body img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.card_body h2, .card_body p {
  padding: 14px;
}

/* ~~~~~~~~~~~~~~ */
/* ~~ Cajas ~~ */
/* ~~~~~~~~~~~~~~ */
.cajas {
  padding: 50px 0;
  display: flex;
  /* flex-direction:column;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

/* ~~ Fin Cajas ~~ */
@media (max-width: 842px) {
  .card_body img {
    display: none;
  }
  .card_body p {
    align-items: center;
  }
}
@media (max-width: 710px) {
  .card_body_servicios {
    display: flex;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
@media (max-width: 1500px) {
  .section_1_nosotros {
    flex-direction: column;
    display: flex;
    margin: 0;
    align-items: center;
  }
  .section_1_nosotros img {
    object-fit: cover;
    object-position: center;
    width: 90%;
  }
  .section_1_nosotros p, .section_1_nosotros h2 {
    width: 90%;
    text-align: center;
  }
}
@media (max-width: 1400px) {
  .section_2_nosotros {
    flex-direction: column;
    display: flex;
    margin: 0;
    align-items: center;
  }
  .section_2_nosotros img {
    object-fit: cover;
    object-position: center;
    width: 90%;
  }
  .section_2_nosotros h2, .section_2_nosotros p {
    width: 90%;
    text-align: center;
  }
}
@media (max-width: 970px) {
  .grid__familia {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
