
//IMPORT BASE
@import 'base/resets';

//IMPORT COMPONENTS
@import 'components/navbar';
@import 'components/footer';


//IMPORT LAYOUTS
@import 'layout/index';
@import 'layout/contacto';
@import 'layout/nosotros';
@import 'layout/servicios';
@import 'layout/tienda';


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ Imagenes principales ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.imagenes_principales{
    position: relative;
    width: auto;
    display: inline-block;
    overflow: hidden
}


.imagenes_principales img{
    width: 100%;
    height: auto;
    display: inline-block;
}


.texto_imagen_principal{
    position: absolute;
    bottom: -30%;
    height: 10%;
    width: 500px;
    right: 0px;
    background-color: #f3efe0;
    color: #222222;
    transform: translate(-50%, -50%);
}


.texto_imagen_derecha_abajo{
    color: #f3efe0;
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 20px;
}

/* ~~ Fin Imagenes ~~ */





/* ~~~~~~~~~~~~ */
/* ~~ Cards ~~ */
/* ~~~~~~~~~~~~ */

.cards {
    background-color: #eeee;
    padding: 50px 15px;
    text-align: center;
}

.card_body img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.card_body {
    display: inline-block;
    width: 30%;
    text-align: left;
    background-color: #F0ECE3;
    border: 1px solid #191919;
    margin: 10px;
    position: relative;
}

.card_body h2, .card_body p {
    padding: 14px;
}

/* ~~ Fin Cards ~~ */


/* ~~~~~~~~~~~~ */
/* ~~ Cajas ~~ */
/* ~~~~~~~~~~~~ */

.cajas {
    padding: 50px 0;
    display: flex;
    /* flex-direction:column;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
/* ~~ Fin Cajas ~~ */



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ imagenes pagina servicios ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.cards_servicios {
    background-color: #eeee;
    padding: 50px 14px;
    text-align: center;
}

.card_body_servicios img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10% 30% 50% 70%;
}

.card_body_servicios {
    display: inline-block;
    width: 30%;
    text-align: left;
    background-color: #F0ECE3;
    border: 1px solid #191919;
    margin: 10px;
    position: relative;
}

.card_body_servicios h2, .card_body_servicios p {
    padding: 14px;
}

/* ~~ Fin imagenes pagina servicios ~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ seccion nosotros ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~ */

.section_1_nosotros {
    background-color: #F7F1E5;
    /* display: inline-block; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section_1_nosotros img {
    /* display: inline-block; */
    width: 40%;
    height: 700px;
    object-fit: cover;
    /*border-radius: 100%;*/
    padding: 30px;
}

.section_1_nosotros_contenido {
    /* display: inline-block; */
    width: 40%;
    padding: 50px;
    /* position: relative;
    bottom: 300px; */
}

.section_2_nosotros {
    background-color: #F7F1E5;
    /* display: inline-block; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section_2_nosotros img {
    /* display: inline-block; */
    width: 40%;
    height: 700px;
    object-fit: cover;
    /*border-radius: 100%;*/
    padding: 30px;
}

.section_2_nosotros_contenido {
    /* display: inline-block; */
    width: 40%;
    padding: 50px;
    /* position: relative;
    bottom: 300px; */
}

/* ~~ Fin seccion nosotros ~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ seccion familia pagina inicio ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.caja-principal body{
    width: 100%;
    min-height: 100vh;
    background: #f2f0f5;
    display: flex;
    justify-content: center;
    align-items: center;
}


.caja-principal{
    width: 80%;
    max-width: 600px;
    background: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.imagen{
    flex-shrink: 0;
    width: 150px;
}

.imagen img{
    width: 100%;
}

/* ~~ Fin seccion familia pagina inicio ~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ icono whatsapp ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~ */
.wsp {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    object-fit: cover;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1;
    cursor: pointer;
}

/* ~~ Fin icono whatsapp ~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ cards contacto page ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~ */

.cards_contacto {
    background-color: #eeee;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.card_body_contacto iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

.card_body_contacto {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #F0ECE3;
    border: 1px solid #191919;
    margin: 0px;
    position: relative;
}

.card_body_contacto ul, .card_body_contacto p {
    padding: 100px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ grid familia ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~ */

.grid__familia{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-row: auto;
    background-color: #22A39F;
    padding: 10px;
}

.picture_familia {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border: 0px;
}

.picture_familia p{
    font-size: 20px;
}

.img-fluid{
    width: 200px;
    height: 200px;
    object-fit: cover;
}


/* ~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ botones centrados ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~ */

.d-grid a{
    background-color: #434242;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.col img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ map google Contacto ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~ */

.col-sm-4 iframe{
    width: 100%;
    height: 100%;
}

.text-center{
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-inner, .carousel-item, .carousel-item img {
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-item img {
    filter: brightness(50%);
}

.carousel-caption {
    color: #ffff;
    font-size: 24px;
    font-weight: bold;
}

